/* #first-heading{
    color: aqua;
    font-size: 20px;
}
.second-heading{
    color: pink;
    
} */
/* h1 {
    color: pink;
    
} */
/* :root {
    --text-color: pink;
}
h1 {
    --my-color: blue;
    color: var(--text-color);
} */